<h3>Twitter Practice!</h3>

<form class="twitter" action="/tweets" method="post">
  <label for="user">twitter handle</label>
  <br>
  <input type="text" name="user">
  <br>
  <label for="count">how many recent tweets to view</label>
  <br>
  <input type="number" name="count" max="50">
  <button type="submit" name="button">find their tweets</button>
</form>

<% @tweets.each do |tweet| %>
  <p><%= tweet.name %>: <%= tweet.tweet %></p>
  <form class="" action="/tweet/<%= tweet.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" href="/">delete</button>
  </form>
<%end%>
